<div ng-controller="booksController">
    <div class="nav-sector-controls" ng-show="IsAdmin">
        <div class="btn btn-icon" id="btn-import-books">
            <span class="icon ic-import"></span>
        </div>
        <input id="btn-import-books-file" type="file" name="upload" style="display: none">

        <a class="btn btn-icon" href="#">
            <span class="icon ic-export"></span>
        </a>
        <a class="btn btn-icon" href="#" ng-click="showAddBookDialog()">
            <span class="icon ic-add"></span>
        </a>
    </div>

    <div class="windows-container entities-container">
        <ul class="windows-grid" ng-repeat="book in Books">
            <li class="window-wrapper">
                <div class="window window-hovered-shadow">
                    <div class="window-header justify">
                        <span class="icon ic-book"></span>
                        <h4>{{book.Author}} - {{book.Title}}</h4>
                        <div class="window-header-buttons">
                            <span class="btn btn-icon" ng-click="showEditBookDialog(book)" ng-show="IsAdmin">
                                <span class="icon ic-edit"></span>
                            </span>
                            <span class="btn btn-icon" ng-click="delete(book.Id)" ng-show="IsAdmin">
                                <span class="icon ic-remove"></span>
                            </span>
                        </div>
                    </div>
                    <div class="window-content">
                        <div class="entity-photo" style="background-image: url('{{book.PhotoPath}}')"></div> <!-- todo null photo handle-->
                        <span>Title:</span>
                        <span>{{book.Title}}</span>
                        <br />
                        <span>Author:</span>
                        <span>{{book.Author}}</span>
                        <br />
                        <span>Genre:</span>
                        <span>{{book.Genre}}</span>
                        <br />
                        <span>Year:</span>
                        <span>{{book.Year}}</span>
                        <br />
                        <span>Pages:</span>
                        <span>{{book.Pages}}</span>
                        <br />
                        <span>Available:</span>
                        <span>{{book.Amount}}</span>
                        <br />
                        <span>Price:</span>
                        <span><b>{{book.Price}}</b></span>
                        <a class="btn btn-icon btn-buy">
                            <span class="icon ic-buy"></span>
                        </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>