<div class="ngdialog-message">
    <h2>Sign in</h2>
    <form name="loginForm">
        <h3>Login</h3>
        <input type="text" placeholder="your login" name="login" ng-model="login" required />
        <h3>Password</h3>
        <input type="password" placeholder="your password" name="password" ng-model="password" required />
        <div class="buttons">
            <input type="button" class="btn btn-colored" value="Sign up" ng-click="signUp()">
            <input type="submit" class="btn" value="Let me in!" ng-click="trySignIn(login,password)" ng-disabled="loginForm.$invalid">
        </div>
    </form>
</div>