
<div class="ngdialog-message">
    <h2>Sign up</h2>
    <form name="signUpForm">
        <h3>Login</h3>
        <input type="text" placeholder="your login" name="login" ng-model="login" required />
        <h3>Password</h3>
        <input type="password" placeholder="your password" name="password" ng-model="password" required />
        <div class="buttons">            
            <input type="submit" id="signUpBtn" class="btn btn-colored" value="Let me in!" ng-click="trySignUp(login,password)" ng-disabled="loginForm.$invalid">
        </div>
        <h5 style="color: red; display: block; margin: 5px; margin-top: 70px;">{{Message}}</h5>
    </form>
</div>