<div class="main-content" ng-switch on="CurrentNav">
    <div ng-controller="importController">
        <books ng-switch-when="Books"></books>
        <journals ng-switch-when="Journals"></journals>
        <newspapers ng-switch-when="Newspapers"></newspapers>
        <exportbooks ng-switch-when="ExportBooks"></exportbooks>
        <exportjournals ng-switch-when="ExportJournals"></exportjournals>
        <exportnewspapers ng-switch-when="ExportNewspapers"></exportnewspapers>
        <importresult ng-switch-when="ImportResult"></importresult>
    </div>
</div> 

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#btn-import-books").click(
                function() {
                    $("#btn-import-books-file").trigger('click');
                });

            $("#btn-import-books-file").change(function (e) {
                var files = document.getElementById('btn-import-books-file').files;
                if (files.length > 0) {
                    $("#import-books-submit").submit();
                }
            });
        });
    </script>
}
